/Ui_choicesdialog.pyc
/Ui_filterdialog.pyc
/Ui_imagepopup.pyc
/Ui_project.pyc
/Ui_variabledialog.pyc
/UnicodeCSV.pyc
/annotateview.pyc
/aoi.pyc
/aoitablewidget.pyc
/buttonevents.pyc
/choicesdialog.pyc
/commands.pyc
/delegates.pyc
/ellipse.pyc
/fileio.pyc
/filterdialog.pyc
/heatmap.pyc
/helpbrowser.pyc
/imagepopupdialog.pyc
/label.pyc
/main.pyc
/menu.pyc
/pathtablewidget.pyc
/polygon.pyc
/projectdialog.pyc
/propertywidget.pyc
/rectangle.pyc
/searchwidget.pyc
/settings.pyc
/snapshot.pyc
/track.pyc
/variabledialog.pyc
/variablewidget.pyc
/vlc.pyc
