/__init__.pyc
/detail_texture.pyc
/fog_function.pyc
/generate_mipmap.pyc
/multisample.pyc
/pixel_texture.pyc
/point_line_texgen.pyc
/point_parameters.pyc
/sharpen_texture.pyc
/texture4D.pyc
/texture_border_clamp.pyc
/texture_color_mask.pyc
/texture_edge_clamp.pyc
/texture_filter4.pyc
/texture_lod.pyc
/texture_select.pyc
