/__init__.pyc
/create_context_es2_profile.pyc
/create_context_es_profile.pyc
/depth_float.pyc
/display_color_table.pyc
/extensions_string.pyc
/framebuffer_sRGB.pyc
/make_current_read.pyc
/multisample.pyc
/pbuffer.pyc
/pixel_format.pyc
/pixel_format_packed_float.pyc
/swap_control.pyc
/swap_control_tear.pyc
